* {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

/* nav */
nav {
    display: flex;
    flex-direction: row;
    background-color: rgb(114, 126, 57);
    height: 3rem;
    align-items: center;
    justify-content: space-between;
}

.name {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(56, 56, 56);
    grid-area: name;
}

.fa-tag {
    padding: 0.5rem;
    color: rgb(56, 56, 56);
}

.fa-bars {
    padding-right: 0.5rem;
    color: rgb(56, 56, 56);
}

/* filters */
.filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    background-color: rgba(114, 126, 57, 0.3);
    color: rgb(56, 56, 56);
    font-weight: 800;
    min-width: 100vh;
    grid-area: filter;
}

select {
    margin-top: 0.3rem;
    width: 15rem;
    height: 1.5rem;
}

/* main */
main {
    display: grid;
    column-gap: 2rem;
    row-gap: 2rem;
    background-color: white;
    grid-template-areas:
        "jacket"
        "pages";
    justify-content: center;
    padding: 1rem;
}

/* products */
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 28rem;
    min-width: 18rem;
    width: 1rem;
    border: 1px solid rgba(56, 56, 56, 0.3);
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(56, 56, 56, 0.15);
    border-radius: 5%;
}

.card img {
    width: 15rem;
    border-radius: 5%;
}

.card img:hover {
    opacity: 80%;
}

.card h2 {
    padding: 1rem 0rem 0.2rem 0rem;
}

.card button {
    margin-top: 0.3rem;
    background-color: rgb(114, 126, 57);
    color: white;
    border: 1px solid rgba(56, 56, 56, 0.1);
    height: 2rem;
    border-radius: 5%;
}

.card button:hover {
    opacity: 80%;
    cursor: progress;
}

/* jacket */
.product1 {
    grid-area: jacket;
}

/* pages */
.pages {
    grid-area: pages;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pages p {
    padding: 0.8rem;
    text-decoration: none;
    font-size: 0.8rem;
    border: 1px solid rgba(56, 56, 56, 0.2);
    font-weight: 800;
    color: rgb(114, 126, 57);
}

.pages p:hover {
    opacity: 80%;
    background-color: rgb(114, 126, 57);
    color: white;
}

/* footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 4rem;
    background-color: rgb(114, 126, 57);
    color: white;
    margin-top: 2rem;
    grid-area: footer;
}

.fa-facebook {
    margin-right: 0.2rem;
}

.fa-facebook:hover {
    cursor: pointer;
}

.fa-instagram:hover {
    cursor: pointer;
}

@media (min-width: 576px) {
    .container {
        display: grid;
        grid-template-areas:
        'aside filter filter'
        'aside main main'
        'footer pages pages';
        grid-template-columns: 2fr 6fr;
    }

    .filter {
        height: 4rem;
    }

    nav {
        height: 5rem;
        justify-content: center;
    }

    nav .fa-bars {
        display: none;
    }
}